.profile-container {
    margin: 40px;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60vh;
    border-radius: 20px;
}

.container-1 {
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}

.container-2 {
    border: solid rgb(166, 132, 138);
    width: 100%;
    padding: 20px;
}
.container-3{
 background-color: rgb(129, 129, 131);

}

.profile-photo {
    width: 200px;
    border-radius: 50%;
}

.upload-container {
    margin-top: 30px;
}